SECRET_KEY = asafcijnodmfin2ounafo2u038934023q57yy@78934y56ufdlinuiaua976836q42siojfisovnnjnpiufngrijen
DATABASE_URI = sqlite:///app.db
ADMIN_USERNAME = admin
ADMIN_PASSWORD = admin
ADMIN_EMAIL = admin@exmaple.com